/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: white;
  color: black; */
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  align-items: center;
  display: flex;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 80px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .web-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
